Repository voxpupuli/puppet-gitlab_ci_runner, pull requests merged in 2019-12, with the labels that each got.

#59 Extend documentation in README with example tags
  README.md
Labels: docs

#64 Switch to puppet-strings for documentation
  REFERENCE.md
  manifests/init.pp
  manifests/runner.pp
Labels: docs

#41 Add support for current releases
  .fixtures.yml
  .sync.yml
  .travis.yml
  metadata.json
  spec/acceptance/gitlab_ci_runner.rb
  spec/spec_helper_acceptance.rb
Labels: enhancement, needs-work

#65 Add listen_address parameter
  REFERENCE.md
  manifests/init.pp
  spec/classes/gitlab_ci_runner_spec.rb
Labels: enhancement

#69 modulesync 2.10.0
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync
