Repository voxpupuli/puppet-gitlab_ci_runner, pull requests merged in 2019-07, with the labels that each got.

#53 ensure config exists
  README.md
  manifests/init.pp
  spec/classes/gitlab_ci_runner_spec.rb
Labels: needs-docs

#48 Add custom repo
  README.md
  manifests/init.pp
  manifests/runner.pp
  metadata.json
  spec/classes/gitlab_ci_runner_spec.rb
Labels: enhancement

#55 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
