Repository voxpupuli/puppet-gitlab_ci_runner, pull requests merged in 2020-04, with the labels that each got.

#82 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/acceptance/bolt_tasks_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#84 Use new gitlab gpg keys for package management
  manifests/repo.pp
  spec/classes/gitlab_ci_runner_spec.rb
Labels: enhancement

#86 Release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#80 Make manage_docker optional and include the docker module if used
  REFERENCE.md
  manifests/init.pp
  spec/classes/gitlab_ci_runner_spec.rb
Labels: backwards-incompatible

#83 Use voxpupuli-acceptance
  .travis.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: tests-fail
