Repository voxpupuli/puppet-gitlab_ci_runner, pull requests merged in 2022-01, with the labels that each got.

#95 implement support for config file/dir permission management.
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/gitlab_ci_runner_spec.rb
Labels: enhancement

#137 modulesync 5.1.0
  .msync.yml
  .puppet-lint.rc
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Rakefile
  lib/puppet/functions/gitlab_ci_runner/register.rb
  lib/puppet/functions/gitlab_ci_runner/register_to_file.rb
  lib/puppet/functions/gitlab_ci_runner/to_toml.rb
  lib/puppet/functions/gitlab_ci_runner/unregister.rb
  lib/puppet/functions/gitlab_ci_runner/unregister_from_file.rb
  lib/puppet_x/gitlab/dumper.rb
  lib/puppet_x/gitlab/runner.rb
  spec/acceptance/bolt_tasks_spec.rb
  spec/acceptance/class_spec.rb
  spec/acceptance/gitlab_ci_runner_spec.rb
  spec/acceptance/runner_spec.rb
  spec/classes/gitlab_ci_runner_spec.rb
  spec/defines/runner_spec.rb
  spec/functions/register_spec.rb
  spec/functions/register_to_file_spec.rb
  spec/functions/to_toml_spec.rb
  spec/functions/unregister_from_file_spec.rb
  spec/functions/unregister_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/spec_helper_local.rb
  spec/tasks/register_runner_spec.rb
  spec/tasks/unregister_runner_spec.rb
  spec/type_aliases/log_format.rb
  spec/type_aliases/log_level.rb
  spec/type_aliases/session_server.rb
  spec/unit/puppet_x/gitlab/runner_spec.rb
  tasks/.rubocop.yml
  tasks/register_runner.rb
  tasks/unregister_runner.rb
Labels: modulesync

#138 Release 4.3.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
