Repository voxpupuli/puppet-gitlab_ci_runner, pull requests merged in 2023-10, with the labels that each got.

#180 Replace deprecated ensure_packages() with stdlib::ensure_packages()
  manifests/init.pp
Labels: backwards-incompatible

#142 Fix broken apt::source declaration for Debian-based systems
  REFERENCE.md
  manifests/init.pp
  manifests/repo.pp
  spec/classes/gitlab_ci_runner_spec.rb
Labels: bug

#181 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
