Repository voxpupuli/puppet-gitlab_ci_runner, pull requests merged in 2024-06, with the labels that each got.

#193 Upgrade Github CI and drop RHEL 7-based operating systems
  .github/workflows/ci.yml
  metadata.json
Labels: backwards-incompatible

#195 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#196 modulesync 9.0.0
  .github/labeler.yml
  .msync.yml
  Gemfile
Labels: modulesync

#164 register_to_file: Support Sensitive `regtoken`
  REFERENCE.md
  lib/puppet/functions/gitlab_ci_runner/register_to_file.rb
  spec/functions/register_to_file_spec.rb
Labels: enhancement

#194 Add basic SuSE support
  .fixtures.yml
  README.md
  REFERENCE.md
  data/family/Suse.yaml
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  metadata.json
  spec/classes/gitlab_ci_runner_spec.rb
Labels: enhancement
